//### Primary

$primary-cta-lightred: hsl(356, 100%, 66%);
$primary-cta-bg-lightred: hsl(355, 100%, 74%);
$primary-cta-hover-lightred: hsl(355, 91%, 73%);
$primary-headings-darkblue: hsl(208, 49%, 24%);

// ### Neutral

$neutral-text-white: hsl(0, 0%, 100%);
$neutral-footer-text-grayishblue: hsl(240, 2%, 79%);
$neutral-body-darkgrayishblue: hsl(207, 13%, 34%);
$neutral-nav-lightblue:  hsl(240, 7%, 94%);
$neutral-footer-bg-darkblackblue: hsl(240, 10%, 16%);

// ### Gradient

// Background gradient - Intro/CTA mobile nav:

$gradient-bg-verylightred: hsl(13, 100%, 72%);
$gradient-bg-lightred: hsl(353, 100%, 62%);

// Background gradient - body:

$gradient-bg-body-verydarkgrayblue: hsl(237, 17%, 21%);
$gradient-bg-body-verydarkdesaturatedblue: hsl(237, 23%, 32%);