@use "./colors.scss" as *;

@media screen and (min-width: 1440px) {
  body {
    /* header styling */
    header {
      & .header__container {
        padding: 6rem 17rem 14.5rem 17rem;
        & nav.header__nav {
          & img.logo {
            width: 10rem;
            height: 4rem;
          }
          & button#burger {
            display: none;
          }

          & ul.nav__nav-list {
            all: unset;
            display: flex;
            flex-direction: row;
            list-style: none;
            justify-content: space-between;
            width: 87%;

            & .nav__container-left,
            & .nav__container-right {
              display: flex;
              margin-top: 1rem;

              & button.nav-button {
                font-size: 1.5rem;
                color: $neutral-text-white;
              }
            }

            & .nav__container-left {
              margin-left: 2rem;
              & li.nav__nav-item {
                &:hover {
                  text-decoration: underline;
                  color: $neutral-text-white;
                }
                & .nav__button-icon {
                  margin: unset;
                  & button img {
                    margin: 0 2.5rem -0.1rem -1rem;

                    &.light-arrow-icon {
                      display: block;
                    }

                    &.dark-arrow-icon {
                      display: none;
                    }
                  }

                  /* JS */
                  & button img:hover {
                    transform: rotate(180deg);
                    transition: transform 0.5s;
                  }
                }

                & ul.nav__dropdown {
                  position: absolute;
                  align-items: flex-start;
                  padding: 2.7rem 5.5rem 2.7rem 2.7rem;
                  font-size: 1.5rem;
                }

                & ul.nav__dropdown > li:hover {
                  font-weight: 600;
                }

                & ul.dropdown__product {
                  left: 14rem;
                }

                & ul.dropdown__company {
                  left: 24.87rem;
                }

                & ul.dropdown__connect {
                  left: 36.3583rem;
                }
              }
            }

            & .nav__container-right {
              & a.nav__sign-up button {
                margin: -1.1rem 0 0 3rem;
                font-size: 1.5rem;
                color: $primary-cta-lightred;
                background: $neutral-text-white;

                &:hover {
                  color: $neutral-text-white;
                  background: $primary-cta-hover-lightred;
                  opacity: 0.9;
                }
              }
            }
          }

          & hr {
            display: none;
          }
        }

        & .header__content {
          & h1.header__heading {
            font-size: 6rem;
            font-weight: 500;
          }

          & p.header__description {
            font-size: 2.1rem;
          }

          & a button {
            &.start-for-free:hover {
              color: $neutral-text-white;
              background: $primary-cta-hover-lightred;
              opacity: 0.9;
            }

            &.learn-more:hover {
              color: $primary-cta-hover-lightred;
              background: $neutral-text-white;
            }
          }
        }
      }
    }

    /* Designed for the future styling */
    section.future {
    background-image: url(/images/illustration-editor-desktop.svg);
    background-position: top 7rem right -27rem;
    padding: 15.5rem 1rem 17.2rem 1rem;

    & h2.future__heading {
      font-size: 3.7rem;
      font-weight: 500;
    }
      & .future__container {
        flex-direction: row-reverse;
        margin: 5.8rem 0 0 13.5rem;

        & .future__container-right {
          flex: 1;
          padding: 0 19.3rem 0 2.5rem;
        }

        & .future__container-left {
          flex: 1;
          gap: 7rem;
         

          & .container-left__inner {
              gap: 2.5rem;
              text-align: left;
          }
        }
      }
    }
  }
}
