@use "./colors.scss" as *;

body {
  width: 100%;
  height: 100vh;

  /* header styling */
  header {
    // background image not working
    background-image: url(/images/bg-pattern-intro.svg);
    background-repeat: no-repeat;
    background: linear-gradient(to right, #ff8f70, #ff3d54);
    border-bottom-left-radius: 10rem;

    & .header__container {
      padding: 5.5rem 2.4rem 14.5rem 2.4rem;

      & nav.header__nav {
        position: relative;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        & img.logo {
          width: 8rem;
          height: 3rem;
        }

        & button img.burger, & button img.close {
            margin-top: 0.5rem;
        }
        & button  {

          &#close {
            display: none;
          }

          & img.burger {
            width: 3rem;
            height: 1.7rem;
          }

          img.close {
            width: 2.4rem;
            height: 2.4rem;
          }
        }

        & ul.nav__nav-list {
          position: absolute;
          display: flex;
          flex-direction: column;
          padding: 2.5rem;
          width: 100%;
          top: 7rem;
          border-radius: 0.5rem;
          background-color: $neutral-text-white;
          text-align: center;
          display: none;
          

          &.show {
            display: flex;
          }
          
          & li.nav__nav-item {
            margin-bottom: 2.5rem;
            font-size: 1.9rem;

            & .nav__button-icon {
              display: flex;
              align-items: center;
              margin: 0 10rem;
              
              & button img {
                margin: 0 0 0.2rem 0.5rem;
                width: 1rem;
                height: 0.8rem;

                & button img.light-arrow-icon {
                    display: none;
                }
              }
              /* JS */
              & button.open img {
                transform: rotate(540deg);
                transition: transform 0.5s;
              }
            }
            & ul.nav__dropdown {
              display: flex;
              flex-direction: column;
              align-items: center;
              gap: 2rem;
              margin-top: 2rem;
              padding: 2.7rem 9rem;
              border-radius: 0.5rem;
              font-size: 1.6rem;
              color: $neutral-body-darkgrayishblue;
              background-color: $neutral-nav-lightblue;
              display: none;

              /* JS */
              &.show {
                display: flex;
              }

              & li:not(:last-child) {
                margin-bottom: 0.5rem;
              }
            }
          }
        }

        & hr {
          margin: 0.1rem 0 3.2rem 0.6rem;
          border: 0;
          height: 0.1rem;
          width: 100%;
          background: $neutral-nav-lightblue;
        }

        & a.nav__sign-up button {
          padding: 1.4rem 3.5rem;
          font-weight: 500;
          color: $neutral-text-white;
          background: linear-gradient(to right, #ff8f70, #ff3d54);
        }
      }

      & .header__content {
        padding: 11rem 0.5rem 0 0.5rem;
        text-align: center;
        color: $neutral-text-white;

        & h1.header__heading {
          margin-bottom: 1rem;
          font-size: 3.65rem;
          font-weight: 300;
        }

        & p.header__description {
          margin-bottom: 4rem;
          font-size: 1.7rem;
          font-weight: 100;
        }

        & a button {
          padding: 1.4rem 2.2rem;
          font-size: 1.5rem;
          font-weight: 500;

          &.start-for-free {
            margin-right: 1rem;
            background-color: $neutral-text-white;
            color: $primary-cta-lightred;
          }

          &.learn-more {
            border: 0.1rem solid $neutral-text-white;
            background-color: transparent;
            color: $neutral-text-white;
          }
        }
      }
    }
  }
}
